<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newbaluchon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0B1939229E5E200063BF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0B1950229E5E240063BF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0B195B229E5E240063BF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
